*{
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px 5px;
    background-image: url("green.jpeg");
    background-attachment: fixed;
    background-size:auto;
    background-repeat: no-repeat;
}
div{
    background: #dcf0df none no-repeat fixed center;
    margin: auto;
    padding: 10px;
    width: 50%;
    border: 2px double #dcf0df;
    border-radius: 5px;
    background-position: center center;
    box-shadow: 5px 5px 10px rgb(0, 36, 0);
}

.a1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 10px;
    width: 100%;
    background-color: #74de66;
    background-size: cover;
    padding: cover;
    border: 5px double #74de66 ;
    border-radius: 5px;

}
h1,.a2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
input[type="text"],
input[type="email"],
select, textarea{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0.2px;
    width: 100%;
}
input[type="submit"]{
    background-color: #dcf0df;
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: #74de66;
    color: #000000;
}
input[type="submit"]:active{
    background-color: #35682f;
    color:#dcf0df;
    cursor: progress;
    box-shadow: 5px 5px 10px grey;
}
input[type="text"]:hover,
input[type="email"]:hover,
select:hover, textarea:hover {
    box-shadow: 5px 5px 10px grey;
}